*{
    margin:0px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;700&family=Work+Sans&display=swap');

/* Common css */
a{
    text-decoration: none;
    
}
ul{
    list-style: none;
    text-transform: capitalize;
}
.bg-color{
    background: rgba(255, 144, 14, 0.10);
}
/* .banner-img{
    width: 50%;
    margin: 0 auto;
} */
img{
    width: 100%;
}
.btn-primery{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    cursor: pointer;
}
/* Header Area */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 220px;
}
.logo h3{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}
.menu ul{
    display: flex;

}
.menu ul li{
    padding: 30px;
    cursor: pointer;
}
.menu ul li a{
    color:#424242;
    font-size: 18px;
    font-weight: 500;
    
}
/* Banner Area  */
.banner-container{
    
}
.banner-title{
    max-width: 768px;
    margin: 0 auto;
}
.banner-title{
    text-align: center;
}
.banner-text{
    color:#131313;
    font-size: 84px;
    font-weight: 700;
    padding-bottom: 20px;

}
.banner-discribtion{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner-container img{
    width: 70%;
    padding: 50px 0px 50px 240px;
}
/* Feature Area Start */

main{
    max-width: 1440px;
    margin: 70px auto;
}
.feature-content{
    align-items: center;
    display: flex;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-left: 250px;
}
.feature-title{
    padding-left: 70px;
    padding-right: 300px;
}
.feature-text{
    font-size: 45px;
    margin-bottom: 24px;
}
.feature-text .quick, .of .feature{
    color:#727272;
    font-weight: 700;
    
}
.feature-text .quick{
    font-weight: normal;
}
.feature-text .feature{
    color: #FF900E;
}
.feature-discription{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;

}

.features-img img{
    width: 100%;
}
/* Expericince area */
.experience-container{
    margin: 140px 240px 160px 240px;
}
.experience-content{
    display: flex;
}
.experience-text{
    margin-right: 145px;
}
.experience-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.experition-driscription{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;
    
}
.card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.experience-img{}
.card-discribtion{
 
}